<form class="signup-form">
    <input required type="text" placeholder="First name" class="user-firstname border" autocomplete="name" data-lpignore="true"/>
    <input required type="text" placeholder="Last name" class="user-lastname border" autocomplete="last-name" data-lpignore="true"/>
    <input required type="email" placeholder="Email" class="user-email border" autocomplete="email" data-lpignore="true"/>
    <input required type="password" placeholder="Password" class="user-password border" autocomplete="current-password" data-lpignore="true"/>
    <button type="button" class="signup-btn save-btn border">Sign up</button>
    <span class="link title login-link clickable">Login</span>
</form>