<div class="overlay">
    <div class="datepicker">
        <div class="container">
            <div class="header">
                <img class="prev-week icon  clickable" title="Previous week" src="/img/icons/prev.svg">
                <div>{{title}}</div>
                <img class="next-week icon  clickable" title="Next week" src="/img/icons/next.svg">
            </div>
            <div class="content">
                <div class="week-header">
                    <div>{{firstDay}}</div>
                    <div>{{secondDay}}</div>
                    <div>{{thirdDay}}</div>
                    <div>{{fourthDay}}</div>
                    <div>{{fifthDay}}</div>
                    <div>{{sixthDay}}</div>
                    <div>{{seventhDay}}</div>
                </div>
                <div class="dates">
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                    <div class="clickable date"></div>
                </div>
            </div>
        </div>
    </div>
</div>